.site-logo{
    margin-top: 8px;
}

.logo-text{
    display: inline-block;
    vertical-align: middle;
    margin-left: 7px;
}

.commandImage{
  width: 50%;
  max-height: 30rem;
  border-radius: 3px;
  margin-top: 1rem;
}

.darkModeContainer .header{
    background: #0d2f67 !important;
}

.darkModeContainer .docs-sidebar-toggler span{
    background-color: #ffffff !important;
}

.darkModeContainer .site-logo .logo-text{
    color: #aebed0 !important;
}
.darkModeContainer h1, h2, h3, h4, h5, h6{
    color: #bfc4ce;
}

.darkModeContainer .docs-article .docs-time{
    color: #747f94 !important;
}

.darkModeContainer .docs-nav .nav-link.active .theme-icon-holder{
  background: #174888;
}

.darkModeContainer .docs-sidebar{
    background-color: #4a80c5;
}

.darkModeContainer .form-control{
    background-color: #c4ddff;
    border-color: #325765;
}

.darkModeContainer .docs-nav .nav-link{
    color: #e4eeff !important;
}

.darkModeContainer .docs-article{
    color: #c0c7d4;
}

.darkModeContainer .theme-switch-wrapper span{
    color: #c8d2de;
}

.darkModeContainer .docs-article .section-heading{
    color: #c3d0e6;
}

.darkModeContainer a.theme-link{
    color: #adb6c5;
}

.darkModeContainer .docs-nav .nav-link.active:before{
  background-color:#174888;
}

.darkModeContainer .docs-article h5 {
  color: #6e92ce;
}
.darkModeContainer .docs-article h3 {
  color: #6e92ce;
}

.darkModeContainer .docs-article strong{
    color: #c2c7d0 !important;
}

.darkModeContainer code{
  background-color: #a6c2e8;
}

.theme-switch-wrapper {
    display: flex;
    align-items: center;
    
    /* em {
      margin-left: 10px;
      font-size: 1rem;
    } */
  }
  .theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
  }
  
  .theme-switch input {
    display:none;
  }

  .darkModeContainer{
      background-color: #0f2c52 !important;
  }

  .slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }

  .theme-switch-wrapper span{
      margin-right: 8px;
  }

  @media only screen 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .theme-switch-wrapper span{
        display: none;
    }
}

@media only screen 
  and (max-device-width: 800px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .commandImage{
      width: 100%;
    }
}

  
  .slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
  }
  
  input:checked + .slider {
    background-color: #2b5482;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }