.site-logo{
    margin-top: 8px;
}

.logo-text{
    display: inline-block;
    vertical-align: middle;
    margin-left: 7px;
}

.theme-switch-wrapper {
    display: flex;
    align-items: center;
    
    /* em {
      margin-left: 10px;
      font-size: 1rem;
    } */
  }
  .theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
  }
  
  .theme-switch input {
    display:none;
  }

  .slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }

  .theme-switch-wrapper span{
      margin-right: 8px;
  }

  @media only screen 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .theme-switch-wrapper span{
        display: none;
    }
}

  
  .slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
  }
  
  input:checked + .slider {
    background-color: #2b5482;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }