@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap');

/* NAVBAR */
.top-header{
    position: fixed;
    width: 100%;
    z-index: 100;
}

nav{
    background-color: #e3f2fd;
}

.base-footer{
    margin-top: 5rem;
}

.carasouel-container{
    width: 100%;
    margin: auto;
}

.carousel-item{
    padding-top: 9rem;
    padding-bottom: 9rem;
    background-color: rgb(100, 100, 177);
}

/* Home Button */
.up {
  margin-top: 30px;
  letter-spacing: 1px;
  border: 4px solid white;
  color: white;
  display: inline-block;
  background-color: transparent;
  margin-right: 3rem;
  font-size: 22px;
  margin-left: 2rem;
  line-height: 100%;
  position: relative;
  text-decoration: none;
  z-index: 0;
  -webkit-transition: border-color .35s ease, background .35s ease;
  transition: border-color .35s ease, background .35s ease;
}


.up:before {
  background-color: white;
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all .35s ease;
  transition: all .35s ease;
}

.up:hover:before {
  top: 0;
}

.up:hover{
color:#2A4556;
transition:0.25s;
}

.up:after {
  position: absolute;
  right: 2.34375rem;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(50%);
  -ms-transform: translateY(-50%) translateX(50%);
  transform: translateY(-50%) translateX(50%);
  font-size: 1.75em;
}

.up {
  padding: .9375rem 1.875rem;
}



/* Carasouel Styles */

.content-information{
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: center;
  margin-bottom: 3rem;
}

.content-information .content{
  margin-right: 2rem;
  margin-top: 10%;
  color: rgb(216, 204, 204);
}

.content-information .content h3{
  font-weight: bold;
  color: white;
  font-size: 3rem;
}

.content-information .content .buttons{
  display: flex;
  text-align: center;
  margin-top: 4rem;
  color: white;
  text-align: center;
  width: 100%;
}

.content-information .content .buttons button{
  /* display: flex; */
  margin-right: 2rem;
  font-size: 2rem;
  padding: 1rem;
  border-color: transparent;
  border-radius: 5px;
  width: 18rem;
}


.content-information .content .buttons .invite{
  background-color: rgb(18, 33, 116);
  transition: background .5s;
}

.content-information .content .buttons .invite:hover{
  background-color: rgb(48, 65, 141);
}

.content-information .content .buttons .read{
  /* background-color: rgb(86, 94, 139); */
  background-color: transparent;
  border: 3px solid white;
  transition: background .5s;
}

.content-information .content .buttons .read a{
  text-decoration: none;
  color: white;
}

.content-information .content .buttons .invite a{
  text-decoration: none;
  color: white;
}


.content-information .content .buttons .read:hover a{
  color: rgb(48, 65, 141);
}

.content-information .content .buttons .read:hover{
  color: rgb(48, 65, 141);
}

.content-information .content .buttons .read:hover{
  background-color: white;
  color: rgb(18, 33, 116);

}


.carousel-control-next-icon{
  width: 3.3rem !important;
  height: 3.3rem !important;
}

.carousel-control-prev-icon{
  width: 3rem !important;
  height: 3rem !important;
}

.content-image img{
  width: 40vw;
}

/* Info Container */

.info-container h2{
  color: white;
}

.info-container h2:after{
  color: white !important;
}

.info-container .card{
  height: 17rem;
  color: gray;
}


.info-container .card:hover{
  cursor: pointer;
  background-color: rgb(190, 221, 236);
  transition: background-color 1s linear;
}
.info-container .card:hover .card-title{
  text-decoration: 2px underline rgb(96, 96, 179);
}


/* Card Styles */

.cards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .cards-list .card {
    margin: 25px auto;
    width: 220px;
    height: 220px;
    border-radius: 30px;
  box-shadow: 3px 3px 20px 5px rgba(0,0,0,0.25), -3px -3px 20px 5px rgba(0,0,0,0.22);
    transition: 0.4s;
  }
  
  .info-container .card {
    display:table-cell;
    vertical-align: middle;
  }

  .cards-list .card .card_image {
    width: inherit;
    height: inherit;
    border-radius: 30px;
  }
  
  .cards-list .card .card_image img {
    width: inherit;
    height: inherit;
    border-radius: 30px;
    object-fit: cover;
  }
  
  .cards-list .card .card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: -80px;
    height: 40px;
  }


  
  .title-white {
    color: white;
  }
  
  .title-black {
    color: black;
  }


#bottom-content .link{
  margin-left: 2rem;
  margin-right: 2rem;
  color: white;
}


#bottom-content {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgb(100, 100, 177);
  color: white;
}

#bottom-content .link:hover{
  cursor: pointer;
}

/* Contact Button */

#contact-button{
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 70px;
  height: 70px;
  border-color: transparent;
  border-radius: 50%;
  color: white;
  background-color: #7289da;
  transition: background .5s;
}

#contact-button:hover{
  background-color: #3e529b;
}
  
  @media all and (max-width: 500px) {
    .card-list {
      /* On small screens, we are no longer using row direction but column */
      flex-direction: column;
    }
  }
  
  
  /*
  .card {
    margin: 30px auto;
    width: 300px;
    height: 300px;
    border-radius: 40px;
    background-image: url('https://i.redd.it/b3esnz5ra34y.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    transition: 0.4s;
  }
  */

   
  @media only screen 
  and (max-device-width: 550px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    #links-section{
      display: none;
    }

    #bottom-grid{
      display: none;
    }

    .col-xs-12 col-md-4{
      margin-bottom: 3rem;
    }

    .carousel-item{
      background-color: rgb(128 128 181) !important;
    }

    .rowCard{
      margin-bottom: 2rem;
    }

    .carasouel-item .content-image{
      display: none;
    }

    .cards-list{
      display: none;
    }

    .content-image{
      display: none;
    }

    .carasouel-container{
      margin-bottom: 6rem;
    }
}